*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html  {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

main  {
    display: flex;
}

main ul  {
    color: #dfdfdf;
}

ul  {
    list-style: none;
}
.bold  {
    font-weight: bold;
}

.relative  {
    position: relative;
}

/* left navbar */
.left-navbar  {
    width: 18em;
    font-size: 0.8em;
    background-color: black;
    position: relative;
}

.logo  {
    width: 12em;
    padding: 1em 0;
    color: #dfdfdf;
}

main .left-navbar .logo,
main .left-navbar ul  {
    margin-left: 1em;
}

main .left-navbar ul  {
    font-weight: 600;
    line-height: 2.5em;
}

.download  {
    width: 1.5em;
    vertical-align: middle;
    margin-right: 1em;
}

li hr  {
    width: 15em;
}

#user  {
    height: 2em;
    width: 2em;
    background-color: gray;
    border-radius: 5em;
    vertical-align: middle;
    margin-right: 1em;
}

.nav-icon  {
    width: 2em;
    vertical-align: top;
}

main .left-navbar h4  {
    margin: 2.2em 1em 1em; 
    color: #dfdfdf;
}

.playlist-btn  {
    font-size: 2em;
    border: 0;
    width: 1.5em;
    height: 1.5em;
    background-color: #dfdfdf;
    vertical-align: middle;
}

#logo-small  {
    display: none;
}

.profile  {
    position: absolute;
    bottom: 0;
}

.scroll  {
    height: 100vh;
    overflow: auto;
}

@media screen and (max-width:600px)  {
    .logo,
    .icon-none,
    .playlist,
    li hr  {
        display: none;
    }

    #logo-small  {
        display: inline-block;
    }

    .icon  {
        margin: 1em;
    }

}

/* top navbar */
.top-navbar  {
    height: 4em;
    width: 85%;
    background-color: rgba(8, 11, 18, 0.9);
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
}

.top-navbar button  {
    border: 1px solid white;
    border-radius: 5em;
    width: 20em;
    line-height: 2.5em;
    font-size: 0.6em;
    font-weight: 600;
    background-color: rgb(8, 11, 18);
    color: white;
}

/* main content */
.main-content  {
    height: 550px;
    width: 800px;
    background-color: brown;
}

/* footer navbar */
.footer-navbar  {
    height: 100px;
    width: 1000px;
    background-color: coral;
}