*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html  {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

main  {
    display: flex;
}

section  {
    width: 100%;
}

main ul  {
    color: #dfdfdf;
}

ul  {
    list-style: none;
}
.bold  {
    font-weight: bold;
}

.relative  {
    position: relative;
}

.radius  {
    border-radius: 50%;
}

/* left navbar */
.left-navbar  {
    width: 300px;
    font-size: 0.8em;
    background-color: black;
    position: relative;
}

.logo  {
    width: 12em;
    padding: 1em 0;
    color: #dfdfdf;
}

main .left-navbar .logo,
main .left-navbar ul  {
    margin-left: 1em;
}

main .left-navbar ul  {
    font-weight: 600;
    line-height: 2.5em;
}

.download  {
    width: 1.5em;
    vertical-align: middle;
    margin-right: 1em;
}

li hr  {
    width: 15em;
}

#user  {
    height: 2em;
    width: 2em;
    background-color: gray;
    border-radius: 5em;
    vertical-align: middle;
    margin-right: 1em;
}

.nav-icon  {
    width: 2em;
    vertical-align: top;
}

main .left-navbar h4  {
    margin: 2.2em 1em 1em; 
    color: #dfdfdf;
}

.playlist-btn  {
    font-size: 2em;
    border: 0;
    width: 1.5em;
    height: 1.5em;
    background-color: #dfdfdf;
    vertical-align: middle;
}

#logo-small  {
    display: none;
}

.scroll  {
    height: 100vh;
    overflow: auto;
}

.icon li:hover {
    border-left: 2px solid #adff2f;
    cursor: pointer;
}

.profile  {
    position: absolute;
    bottom: 0;
}

@media screen and (max-width:600px)  {
    .left-navbar  {
        width: unset;
    }

    .logo,
    .icon-none,
    .playlist,
    li hr  {
        display: none;
    }

    #logo-small  {
        display: inline-block;
    }

    .icon  {
        margin: 1em;
    }
    .profile  {
        position: absolute;
        bottom: 0;
    }
}

/* top navbar */
.top-navbar  {
    height: 4em;
    width: 100%;
    background-color: rgba(8, 11, 18, 0.9);
    display: flex;
    justify-content: end;
    align-items: center;
    position: sticky;
    top: 0;
    right: 0;
}

.top-navbar button  {
    border: 1px solid white;
    border-radius: 5em;
    width: 20em;
    line-height: 2.5em;
    font-size: 0.6em;
    font-weight: 600;
    background-color: rgb(8, 11, 18);
    color: white;
    margin-right: 0.5em;
}

.top-navbar button:hover  {
    line-height: 3em;
    width: 20.5em;
    cursor: pointer;
}

/* main content */
.main-content  {
    height: 100%;
    width: 100%;
    margin-top: -4em;
    padding: 5em 0;
    background-color: #141922;
}

.categories  {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    flex-wrap: wrap;
    line-height: 2.5em;
    padding: 0 12em;
}

.categories li  {
    font-size: 0.8em;
}

.recent-play  {
    display: flex;
    flex-wrap: wrap;
}

h2  {
    padding: 1em 0.7em 0;
    color: white;
}

.recent-play ul li img,
.recent-play ul li {
    width: 180px;
    text-align: center;
    font-size: 0.8em;
}

li h5  {
    padding: 1em 0;
}

.recent-play ul  {
    padding: 1em;
}

h2 ~ p  {
    padding-left: 1.2em;
    color: grey;
    font-size: 0.8em;
}

@media screen and (max-width:600px)  {
    .categories  {
        padding: 0 4em;
    }
}

/* footer navbar */
.footer-navbar  {
    height: 100px;
    width: 100%;
    background-color: coral;
}